@import url('https://fonts.googleapis.com/css?family=Cairo:300,400&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  
    font-family: 'Cairo', sans-serif;

}



.hi {
    overflow: hidden;
}


.link1 { grid-area: link1;
    transition: .3s ease-in-out;
}
.link2 { grid-area: link2;
    transition: .3s ease-in-out;
 }
.link3 { grid-area: link3; 
    transition: .3s ease-in-out;}



.img1 { grid-area: img1; 
    background: url(../images/1.jpg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     width: 100%;
    height: 800px;
  
   
}

.nav {
    display: grid;
    grid-template-areas: 'link1 link1 link2 link2 link3 link3'
    'link1 link1 link2 link2 link3 link3';
    width: 100%;
}

.allMainContents {
    display: grid;
    grid-template-areas:
    
    'img1 img1 img1 img1 img1 img1'
    'img1 img1 img1 img1 img1 img1';
 
   
}

.head {

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

  
  }

.nav > a {
    text-align: center;
    padding: 45px 0px;
    text-decoration: none;
    color:#f2f0f5d6;
    border: 2px;
    background-color:  #000000b0;

    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    
}

a:hover {
    background-color: #454748b7;
    color: #91b0cc
}

.port {
    display: grid;
    grid-template-areas:
    'cara cara cara cara cara cara'
    'but1 but1 but1 but2 but2 but2';
    background: url("../images/5.jpg") no-repeat center center fixed;
  width: 100%;
  
  margin-top: -12px;

 
    background-size: cover ;
  height: 920px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: .8s ease-in-out;
  transform: translate3d(0%, .972%, 0px) scale(.918);

}

.container {
    grid-area: cara;
    margin: 200px auto;
    opacity: 0;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1200px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    margin-bottom:0px
  }
  
  figcaption {
  
    visibility: hidden;
    opacity: 0;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
  }
  
  
  
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 250px;
    
   
    
    color: #FFF;
    opacity: 0.95;
    border-radius: 29px;
    transition: 1s ease-in-out;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    
  }
  .b {
    transform: rotateY(60deg) translateZ(250px);
   
  }
  .c {
    transform: rotateY(120deg) translateZ(250px);
  
  }
  .d {
    transform: rotateY(180deg) translateZ(250px);
   
  }
  .e {
    transform: rotateY(240deg) translateZ(250px);
  
  } 
  .f {
    transform: rotateY(300deg) translateZ(250px);
  
  }
 
   .prev {
     grid-area: but1;
    color: rgb(255, 255, 255); 
  margin-top: -59px;
    text-align:center;
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
   
    border-bottom: none; 
    line-height: 0;
    margin-bottom: 30px;
  }

  .next {
     grid-area: but2;
    color: rgb(255, 255, 255); 
    text-align:center;
    margin-top: -59px;
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 

    border-bottom: none; 
    line-height: 0;
    margin-bottom: 30px;
  }
  
  .buts {
    visibility: visible;
    transition: 1s ease-in-out;
  }
  
  .next:hover {
    color: #888; 
    cursor: pointer; 
  }
  
  .prev:hover {
    color: #888; 
    cursor: pointer; 
  }

  .portname {
    top: 0;
    margin-top: 0px;
    margin-left: -6px;
    padding: 2px;
    position: absolute;
    /* border: 6px groove #565656; */
    background-color: #000000d9;
    text-align: center;
    width: 252px;
    color:#91b0cc;
    /* height: 48px; */
  }
  
  
 .port a {
  
    text-decoration: none;
    color:#91b0cc;
    padding: 2px;
    font-size: 1em;
    border: 2px groove;
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9;
    
  
  
  }

  .portA3 {
    position:absolute;
    width: 242px;
    margin-left: 0px;
    margin-top: -47px;
    text-align: center;
    /* height: 39px; */
    text-decoration: none;
    color:#91b0cc;
    padding: 4px;
    font-size: 1em;
    /* border: 2px groove; */
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9;
  }
  
  .portA {
    position:absolute;
    width: 119px;
    margin-left: 0px;
    margin-top: -47px;
    text-align: center;
    /* height: 39px; */
  }
  
  .portA2 {
    position:absolute;
    width: 118px;
    left: 0;
    right: 0;
    margin: -47px auto;
    margin-left: 125px;
    text-align: center;
    /* height: 39px; */
  }

  .aboutMeContents {background: url("../images/6.jpg") no-repeat center center fixed;
    width: 100%;
    background-size: cover;
    margin: -30px auto;
    height: 920px;padding-top: 0px; 
    transition: .8s 
    ease-in-out;
    transform: translate3d(0%, .972%, 0px) scale(.918);
   }
  
  
  
  .aboutMeDiv {
      position:absolute;
      width:457px;
      height: 280px;
      left: 0;
      right: 0;
      margin: 201.4px auto;
      border: 2px groove aliceblue;
      background-color: #251f2fd6;
      box-shadow: 39px 20px 66px 20px #8967b957;
      margin-bottom: 0px;
      opacity: 0;
        z-index: 1;
      transform: translate(0, 50px); 
      transition: 3s;
  }

  .aboutMeP {
    padding:10px;
    color: aliceblue;
    text-align: center;
    font-size: .9em;
}

.slideRes {
    height: 40%;
    max-height: 100px;
    min-height: 100px;
    max-width: 200px;
    left: 0;
    right: 0;
    margin: 593px auto;
    opacity: 0;
    border: 2px groove grey;
    position: absolute;
    background-color: #251f305d;
    box-shadow: 20px 20px 20px 20px #b2cce221;
    transition: 3s;
    margin-bottom: 10px;
}
  
  .slideHead1 {
      margin-top: -11px;
      text-align: center;
      font-size: 60%;
      background-color:  #251f2fd6;
      color: #ffffff;
  }
  
  
  .resBut {
    
    position: absolute;
    width: 40px;
    
    left: 0;
    right: 0;
    margin: 0px auto;
    color: #ffffffd6;
    background-color: #251f2fd6;
    transition: .3s ease-in-out;
    text-align: center;
  }
  
  .resBut:hover {
    cursor: pointer;
    padding: 5px
    
  }

  .contactMe {
    height: 920px;
    background: url("../images/3.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-top: 10px;
    transition: .8s 
    ease-in-out;
    transform: translate3d(0%, .972%, 0px) scale(.918);
  }
  
  .about {
      position: absolute;
      left: 0;
      right: 0;
      margin: 135px auto;
      opacity: 0;
      transition: 3s;
  }
  
  
  .socialIcons {
    width: 288px;
    left: 0;
    right: 0;
    margin: 56px auto;
  }
  .gitHub {
    position: relative;
    width: 38%;
    margin-left: 12px;
  
    float: left;
  }
  
  .linkedin {
    position: relative;
    width: 23%;
    margin-left: 45px;
    float: left;
  }
  
  
  .resBut1 {
  
    width: 127px;
    margin-left: -8px;
    padding: 15px;
    
    color: #91b0cc;
    background-color: #070707d6;
    transition: .3s ease-in-out;
    margin-top: -17px;
  }
  
  
  
  .resBut1:hover {
    cursor: pointer;
    width: 135px;
    padding: 20px;
  }
  
  .wholeForm {
    clear: both;
    position: relative;
  }
  
  .form-control {
    position:absolute;
    background-color:#91b0cc;
    text-align: center;
    left: 0;
    right: 0;
    margin: 34px auto;
    width: 253px;
  }
  
  .form-message {
    position:absolute;
    background-color:#91b0cc;
    text-align: center;
    left: 0;
    right: 0;
    margin: 43px auto;
    margin-bottom: 0px;
    width: 275px;
    height: 100px;
  }
  
  .submit {
    position:absolute;
    color:#91b0cc;
    background-color: black;
    left: 0;
    right: 0;
    margin: 130px auto;
    margin-bottom: 0px;
    width: 50px;
    z-index: 1;
  }

  .title {
    text-align: center;
    color:#91b0cc;
    border: 6px groove #565656;
    background-color: #000000d9;
    width: 150px;
    left: 0;
    right: 0;
    margin: 42px auto;
  }

  @media only screen and (max-width: 500px) {
    .aboutMeDiv {
       position:absolute;
       width:344px;
   
       height: 363px;
    }
    
    .slideRes {
        margin-top: 700px;
    }
   
   
   }